:root {
   --firstcolor: yellow;
   --width: 175px;
   --height: 175px;
   --secondcolor: red;
   --border-radius: 75px;
}

body {
    background-color: var(--firstcolor);
}

.ball {
    width: var(--width);
    height: var(--height);
    background-color: var(--secondcolor);
    border-radius: var(--border-radius);
}
